<h3>Agregar:  {{name()}} power: {{power()}}</h3>
    <input type="text" class="form-control"
          placeholder="Nombre"    name="name"
          [value]="name()"    (change)="name.set(txtName.value)"
          (input)="name.set(txtName.value)"
    #txtName />
    <input type="number" class="form-control mt-2"
          placeholder="Poder" name="power" id=""
          [value]="power()"    (change)="power.set(+txtPower.value)"
          (input)="power.set(+txtPower.value)"
          #txtPower />
    <button (click)="addCharacter()" class="mt-2 btn btn-primary" >Agregar</button>
